<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzWidth="168px">
    <div class="sidebar-logo">
      <h1>Movie Awards</h1>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/dashboard">Dashboard</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/list">List</a>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
